{% load static %}
<link rel="stylesheet" href="static/css/bootstrap.min.css">

    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="row>">
    <div class="col-md-12">
        <h2>About us</h2>
        <hr>
        <p>Welcome to [Automobile shop], your trusted destination for all your automotive needs. With a passion for cars and a commitment to excellence, we've been serving [PUNE] and beyond since [1932].

            At [Automobile shop], we pride ourselves on providing top-notch service, expert advice, and quality products to ensure your vehicle runs smoothly and safely. Whether you're in need of routine maintenance, major repairs, or performance upgrades, our team of skilled technicians is here to help.</p>
    </div>
    </div>
    <div class="col-md-12">
        <h1>Vision</h1>
        <p>At [Automobile shop], our vision is to redefine the automotive experience by being the premier destination for car enthusiasts and everyday drivers alike. We aim to set new standards of excellence in customer service, technical expertise, and product quality.

            Driven by a passion for automobiles and a commitment to innovation, we strive to create a welcoming environment where our customers feel valued, informed, and empowered. Our goal is to build lasting relationships with our community, based on trust, integrity, and mutual respect</p>
    
    </div>
    <div class="col-md-12">
        <h1>Mission</h1>
        <p>At [Automobile shop], our mission is to provide unparalleled automotive services and solutions that enhance the performance, safety, and enjoyment of our customers' vehicles.

            We are dedicated to delivering exceptional value through:
            
            Expertise: Our team of highly skilled technicians is committed to staying at the forefront of automotive technology and industry best practices. We continuously invest in training and education to ensure we can diagnose, repair, and maintain vehicles of all makes and models with precision and efficiency.
            
            Quality: We source and utilize only the highest quality parts, tools, and equipment to ensure the longevity and reliability of every service we provide. Our strict quality control measures guarantee that every vehicle leaving our shop meets our rigorous standards of excellence.
            
            Customer Service: We prioritize customer satisfaction above all else. From the moment you contact us to the completion of your service, we strive to provide a seamless and enjoyable experience. Our friendly and knowledgeable staff are here to answer your questions, address your concerns, and exceed your expectations at every turn.
            
            Integrity: Honesty, transparency, and integrity are the cornerstones of our business. We believe in earning your trust through open communication, fair pricing, and ethical practices. You can rely on us to always provide honest recommendations and never upsell you on services you don't need.
            
            Community Engagement: We are proud to be an active member of our community and are committed to giving back whenever possible. Whether through charitable donations, sponsorships, or volunteer work, we believe in using our resources to make a positive impact locally and beyond.
            
            At [Automobile shop], we are passionate about cars and dedicated to helping our customers get the most out of their driving experience. With our unwavering commitment to excellence, we aim to be your trusted partner on the road to automotive success."</p>
    
    </div>
   
</div>  <!--about end-->

<!-- statistics start -->
<h2 class="mt-4">Statistics :</h2>
<div class="row">
    <div class="col-md-4 mt-3 shadow p-3">
        <h1 class="text-danger text-center">10000+</h1>
        <h3 class="text-center">happy customers</h3>
    </div>
    <div class="col-md-4 mt-3 shadow p-3">
        <h1 class="text-danger text-center">20000+</h1>
        <h3 class="text-center">ordered delivired</h3>
    </div>
    <div class="col-md-4 mt-3 shadow p-3">
        <h1 class="text-danger text-center">600+</h1>
        <h3 class="text-center">Products</h3>
    </div>
</div>